.TextField {
    display: block;
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
    padding-left: 5px;
    font-family: "PT Sans", sans-serif;
}

.TextField:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.Invalid:focus {
    box-shadow: 0 0 5px rgb(255, 14, 14) !important;
    border: 1px solid rgb(255, 14, 14) !important;
}

.TextArea {
    padding-left: 5px;
    display: block;
    width: 75%;
    min-width: 249px;
    font-family: "PT Sans", sans-serif;
    height: 135px;
    margin-bottom: 20px;
}

.TextArea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.Checkbox {
    display: block;
    height: 30px;
    width: 20px;
    margin: 0;
    padding: 0;
    float: left;
}

.CheckboxText {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    height: 50px;
    width: 50px;
    font-size: 17px;
    padding-left: 10px;
    padding-top: 3px;
}

.TextField:read-only:focus {
    box-shadow: none;
    border: 1px solid #a9a9a9;
}
