.OuterWrapper {
    width: 40%;
    margin: 45px auto;
    padding-bottom: 25px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0 3px 2px #ccc;
}

.InnerWrapper {
    margin-top: 30px;
    font-size: 0;
    text-align: center;
}

.Container {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-family: "PT Sans", sans-serif;
    width: 200px;
    height: 50px;
    margin: 6px 10px;
    background: #e0e0e0;
    display: inline-block;
    font-size: medium;
}

.Container:hover {
    background-color: rgb(236, 236, 236);
    box-shadow: 0 2px 3px #ccc;
}

@media (max-width: 610px) {
    .Container {
        width: 150px;
    }
}

@media (max-width: 475px) {
    .Container {
        width: 100px;
        font-size: 12px;
    }
}

@media (max-width: 295px) {
    .Container {
        width: 75px;
        font-size: 10px;
    }
}

.Title {
    width: 8em;
    margin: 0 auto;
    margin-top: 100px;
    font-family: "Cardo", sans-serif;
    font-size: 25px;
    padding: 0;
    text-align:center;
    color: black;
    font-weight: 500;
    border: 2px solid rgb(85, 207, 255);
}

.Title p {
    padding: 0;
    margin: 7px;
}

.Title:hover {
    color: white;
    background-color: rgb(85, 207, 255);
    transition: all 0.1s ease
}
