.Sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 90px;
    box-shadow: 0 2px 4px #ccc;
    transition: all 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-110%)
}

@media (max-width: 390px) {
    .Sidebar {
        width: 200px;
    }
}