.Logo {
    font-family: 'Croissant One', cursive;
    float: left;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px;
}

@media (max-width: 390px) {
    .Logo {
        font-size: 25px;
        padding-top: 15px;
    }
}