.Logo {
    color: black;
    font-family: 'Cardo', serif;
    float: left;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 5px;
    cursor: pointer;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

@media (max-width: 390px) {
    .Logo {
        font-size: 25px;
        padding-top: 15px;
    }
}

@media (max-width: 340px) {
    .Logo {
        font-size: 23px;
        padding-top: 20px;
        padding-right: 10px;
    }
}